<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
            name="description"
            content="In order to make you have a better experience, improve our services or other purposes you agree, on the premise of complying with relevant laws and regulations, we may use the information collected through a service for our other services in a way of collecting information or personalization.
"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logoIcon.png" />
    <title>Rei Wallet</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>
