@font-face {
  font-family: "AvenirNext-Regular";
  src: url("../fonts/AvenirNext-Regular.ttf");
}

@font-face {
  font-family: "AvenirNext-Medium";
  src: url("../fonts/AvenirNext-Medium.otf");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../fonts/AvenirNext-Bold.ttf");
}
